* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EFEFF5;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background: #181834;
  color: #EFEFF5;
  padding: 1em;
}

.pre-title-container {
  display: flex;
  flex-direction: row;
  
  align-items: center;
}

.pre-title-container img {
  cursor: pointer;
}

.pre-title {
  flex-direction: column;
  height: auto;
}

header h1 {
  font-size: 48px;
  justify-self: center;
}

header h2 {
  font-size: 20px;
}

header h3 {
  font-size: 16px;
}

main {
  background: #EFEFF5;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main .title {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  color: #181834;
  margin-top: 10px;
}

.title h3 {
  color: #5C5C69;
  margin-top: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-top: 20px;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset legend {
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #3B3B43;
  margin-bottom: 20px;
}

.inputs-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 15px 5px;
}

.inputs-container label {
  color: #3B3B43;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  text-align: right;
}

.inputs-container input {
  width: 100px;
  padding: 10px 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  border-bottom: 5px solid rgba(92, 92, 105, 0.7);
  margin-top: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #5C5C69;
  transition: 0.2s ease;
}

.inputs-container input[type="number"]:hover {
  border-bottom: 5px solid rgba(58, 58, 128, 0.7);
}

.inputs-container input[type="number"]:focus {
  border-bottom: 5px solid #3A3A80;
  color: #3B3B43;
}

.inputs-container span {
  color: #5C5C69;
  font-size: 20px;
  /* margin-left: 10px; */
}

button {
  border: none;
  background: #181834;
  color: #EFEFF5;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  padding: 20px 20px;
  cursor: pointer;

  transition: 0.25s;
}

button:hover {
  background: #3A3A80;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.results-container span {
  color: #5C5C69;
  font-size: 20px;
}

.result h3 {
  font-weight: bold;
  font-size: 32px;
  color: #3B3B43;
}

.result h5 {
  font-weight: bold;
  font-size: 32px;
  color: #3B3B43;
  margin-left: 5px;
}

footer {
  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #181834;

  padding: 1em;
}

footer span {
  font-size: 16px;
  color: #EFEFF5;
}

@media (max-width: 700px) {
  header h1 {
    font-size: 32px;
    justify-self: center;
  }

  header h2 {
    font-size: 14px;
  }

  header h3 {
    font-size: 12px;
  }

  footer span {
    font-size: 14px;
    color: #EFEFF5;
  }
}
