* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EFEFF5;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background: #181834;
  color: #EFEFF5;
  padding: 1em;
}

.pre-title-container {
  display: flex;
  flex-direction: row;
  
  align-items: center;
}

.pre-title-container img {
  cursor: pointer;
}

.pre-title {
  flex-direction: column;
  height: auto;
}

header h1 {
  font-size: 48px;
  justify-self: center;
}

header h2 {
  font-size: 20px;
}

header h3 {
  font-size: 16px;
}

main {
  background: #EFEFF5;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main .title {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  color: #181834;
  margin-top: 10px;
}

.title h3 {
  color: #5C5C69;
  margin-top: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.button {
  border: none;
  background: #181834;
  color: #EFEFF5;
  font-weight: bold;
  font-size: 16px;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  padding: 20px 20px;
  cursor: pointer;

  transition: 0.25s;
}

.button:hover {
  background: #3A3A80;
}

footer {
  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #181834;

  padding: 1em;
}

footer span {
  font-size: 16px;
  color: #EFEFF5;
}

@media (max-width: 700px) {
  header h1 {
    font-size: 32px;
    justify-self: center;
  }

  header h2 {
    font-size: 14px;
  }

  header h3 {
    font-size: 12px;
  }

  footer span {
    font-size: 14px;
    color: #EFEFF5;
  }
}
