@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F3FCF3;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  height: auto;
  padding: 15px 15%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  background-color: #2BC866;
  color: #FFF;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  text-shadow: 0 2px #20944B;
  /* z-index: 1; */
}

header h1 {
  font-weight: bold;
  font-size: 32px;
}

header span {
  font-weight: bold;
  font-size: 24px;
}

main {
  width: 40%;
  min-width: 400px;
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .form {
  width: 100%;
}

main .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

main .form fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  background: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 40px 30px 20px 30px;
  border-radius: 10px;
  width: 100%;
}

main .form fieldset legend {
  margin: 0 auto;
  font-size: 16px;
  transform: translateY(30px);
  color: #20944B;
  font-weight: bold;
}

main .form .input-container {
  /* width: 300px; */
  height: auto;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main .form .input-container label {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #5A5A5A;
}

main .form .input-container input {
  width: 100%;
  height: auto;
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 30px;
  background: rgba(43, 200, 102, 0.15);
  border: 2px solid rgba(43, 200, 102, 0.15);
  color: #5A5A5A;
  filter: grayscale(0.5);
}

main .form .input-container input:hover {
  filter: grayscale(0);
  color: #1F1F1F;
}

main .form .input-container input:focus {
  filter: grayscale(0);
  border: 2px solid rgba(32, 148, 75, 0.5);
  box-shadow: 0 0 5px rgba(32, 148, 75, 0.5);
  color: #1F1F1F;
}

main .form .input-container input[type=date]:hover {
  cursor: text;
}

main .form input[type=submit] {
  border: 2px solid #2BC866;
  border-radius: 10px;
  padding: 12px 20px;
  background-color: #2BC866;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.2s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-top: 10vh;
}

main .form input[type=submit]:hover {
  color: #2BC866;
  background-color: #F3FCF3;
  cursor: pointer;
}

main .modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

main .modal .close-button {
  align-self: flex-end;
  font-size: 18px;
  border: 2px solid #2BC866;
  background: #2BC866;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 50%;
  margin-top: -10px;
  margin-right: -10px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

main .modal .close-button:hover {
  background: #FFF;
  color: #2BC866;
}

main .modal .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  border: 3px solid #2BC866;
  max-width: 90%;

  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  z-index: 10;
}

main .modal .container .title {
  font-size: 20px;
  font-weight: bold;
  color: #1F1F1F;
  margin: 0 50px 10px 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

main .modal .container h2:first-child {
  margin-right: 5px;
}

main .modal .container h2 {
  word-break: normal;
}

main .modal .student-items {
  display: grid;
  grid-template-columns: auto auto;
  width: auto;
  gap: 10px 20px;
  color: #1F1F1F;
  margin: 10px;
  padding: 10px;
  background: rgba(23, 107, 55, 0.075);
  border: 2px solid rgba(23, 107, 55, 0.075);
  border-radius: 10px;
  font-size: 16px;
}

main .modal .student-items .label {
  text-align: right;
  font-weight: bold;
}

footer {
  width: 100%;
  height: auto;
  padding: 10px 15%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2BC866;
  color: #FFF;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.5);
}

footer p strong::before {
  content: ' ';
}

footer a {
  font-size: 0;
}