* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EFEFF5;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

header {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background: #181834;
  color: #EFEFF5;
  padding: 1em;

}

.pre-title {
  flex-direction: column;
}

header h1 {
  font-size: 48px;
  justify-self: center;
}

header h2 {
  font-size: 20px;
}

header h3 {
  font-size: 16px;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: 1fr;
  gap: 30px 20px;
  margin: 50px 0;
  width: 80%;
}

.exercise {
  background-color: #FFF;
  border-radius: 20px;
  padding: 10%;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  transition: 0.25s ease;
}

.exercise:hover {
  cursor: pointer;

  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translate(0, -2.5%) scale(1.05);
  -ms-transform: translate(0, -2.5%) scale(1.05);
  transform: translate(0, -2.5%) scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.exercise strong {
  margin-bottom: 20px;
  color: #181834;
}

.exercise span {
  color: #3B3B43;
}

footer {
  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #181834;

  padding: 1em;
}

footer span {
  font-size: 16px;
  color: #EFEFF5;
}

@media (max-width: 700px) {
  header h1 {
    font-size: 32px;
    justify-self: center;
  }

  header h2 {
    font-size: 14px;
  }

  header h3 {
    font-size: 12px;
  }

  footer span {
    font-size: 14px;
    color: #EFEFF5;
  }
}