.ex02 fieldset {
  border: none;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ex02 fieldset legend {
  margin: 0px auto;
  font-weight: 600;
}

.ex02 .inputs-container {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 10px;
  align-items: center;
}

.ex02 .inputs-container label {
  text-align: right;
  font-size: 16px;
}

.ex02 .inputs-container label::after {
  content: ':';
}

.ex02 .results-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px 20px;
  border-radius: 10px;
  background: #343034;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-height: 30vh;
  overflow-y: auto;
}

.ex02 .results-container:empty {
  padding: 0 !important;
}

.ex02 .results-container p {
  font-weight: 600;
  /* word-wrap: break-word; */
  /* word-break: break-all; */
}

.ex02 .results-container span {
  font-size: 14px;
  font-weight: 200;
}